h1 {
  font-family: Times New Roman; 
  text-align: center; 
  color: white;
}

h2 {
  font-family: Times New Roman; 
  text-align: left; 
  color: white; 
}

p { 
  color: white; 
}

body {
  background-image: url('https://media.istockphoto.com/id/1732963074/photo/starry-night-sky-in-space.jpg?s=2048x2048&w=is&k=20&c=3jbAqgp5PstMjPiQ-Nc1We0uOwA4tgIPzpddgQR1tcw=');
}

img {
  width: 200px; 
  height: 200px; 
}